body {
  background: #fabcbc;
}

h2 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}
form {
  margin-bottom: 20px;
  text-align: center;
}

form > button {
    padding: 8px;
    background: #91091e;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: cursive;
    border-radius: 8px;
    font-weight: bold;
}

form > input[type='search'] {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.imgur {
  border-radius: 8px;
  margin: 10px 20px;
}
